/* 
COLORS:
0B0C10
1F2833
C5C6C7
66FCF1
45A29E
*/

* {
    margin: 0;
    padding: 0;
}

body {
    /* Debug */
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

footer {
    padding: 12px 0;
    display: flex;
    justify-content: center;
}

footer p {
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.05em;
    width: 60vw;
    border-top: 1px solid rgba(208, 210, 211, 0.3);
    border-bottom: 1px solid rgba(208, 210, 211, 0.3);
    padding: 16px 0;
}

.background-1 {
    background-color: #1F2833;
    color: #fff;
}

.background-2 {
    background-color: #66FCF1;
    color: #000;
}

.background-3 {
    background-color: #D0D2D3;
    color: #000;
}

.background-4 {
    background-color: #45A29E;
    color: white;
}


/* ----- NAVBAR ----- */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B0C10;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #66FCF1;
    color: #000;
}

.navbar li .active {
    background-color: #1F2833;
}

.navbar #last {
    background-color: #66FCF1;
    color: #000;
    position: absolute;
    right: 0;
    width: 160px;
}

/* .navbar #last:hover {
    color: #000;
    background-color: #fff;
} */

.navbar #author-quick-info {
    position: absolute;
    margin: 0;
    top: 47px;
    right: 0px;
    width: 144px;
    padding: 20px 28px;
    background-color: #D0D2D3;
    line-height: 1.8em;
    opacity: 0;
}

#author-info {
    padding: 60px 34px;
    font-size: 1.2em;
}


#author-info h3{
    font-size: 1.2em;
    line-height: 2em;
    font-weight: 300;
}

#profile-picture {
    display: flex;
    width: 500px;
    justify-content: center;
}

#profile-picture img {
    width: 400px;
    border-radius: 50%;
    border: 12px solid #66FCF1;
    box-shadow: #000 0 0 16px;
}


/* MAIN CONTENT */
.container {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    /* height: 650px; */
    padding: 100px 0;
    align-content: center;
    text-align: left;
}

.container .basic-info {
    flex: 1 40%;
    text-align: left;
    font-size: 1.2em;
    width: 40%;
}

.container h1 {
    margin: 0 0 16px;
    font-size: 2.3em;
    text-align: center;
}

.container p {
    margin: 12px 0;
    line-height: 1.8em;
    /* width: 100vw; */
    text-align: justify;
}

.dns-image {
    width: 520px;
    display: flex;
    justify-content: center;
}

.dns-image img {
    height: 400px;
}

.aws-image {
    padding: 50px 0 0;
    width: 500px;
    display: flex;
    justify-content: center;
}

.aws-image img {
    height: 200px;
}

.container .section-heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-bottom: 16px;
    width: 100vw;
}

.container #main-heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-bottom: 14px;
    margin: 18px 0 0;
    text-align: left;
}

.container a {
    font-weight: 600;
}

.background-1 .container a, .background-4 .container a {
    color: white;
}

.background-3 .container a {
    color: black;
}

.container span {
    font-weight: 600;
}

.container ol {
    line-height: 1.5em;
    width: 100%;
}


.container ol p {
    margin: 4px 0;
}

.container ol code {
    padding: 8px 12px;
    margin: 4px 0;
    background-color: rgb(14, 14, 14);
    color: white;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 1.7em;
}

.container li { 
    margin: 20px 0;
    line-height: 1.5em;
}

#creating-dns-container>* {
    margin: 40px 0;
}


.container .read-more {
    height: 36px;
    width: 180px;
    border: none;
    /* border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; */
    border-radius: 4px;
    font-size: 1.1rem;
    background-color: #1F2833;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin: 20px auto 0;
    box-shadow: black 0 2px 2px;
}

.container .read-more:hover {
    background-color: #3e4b5a;
}

.background-1 .container .read-more {
    background-color: #66FCF1;
    color: #000;
}

.background-1 .container .read-more:hover {
    background-color: #3ddfd4;
    color: #000;
}

/* FULL WIDTH SECTION (with mini containers) */
.container-wide-wrapper {
    padding: 30px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.container-wide {
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    /* height: 250px; */
    min-height: 250px;
    align-content: center;
    justify-content: space-evenly;
}

.container-wide>* {
    max-width: 260px;
}

.container-wide h3{
    display: block;
    height: 50px;
    width: 100%;
    text-align: left;
}

.container-wide table {
    height: 200px;
    width: 200px;
    background-color: #66FCF1;
    /* background-color: #C5C6C7; */
    color: #000;
    padding: 14px;
    border-radius: 6px;
    box-shadow: black 0px 0px 12px;
}

.container-wide table th {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.35em;
}

.container-wide table button {
    width: 32px;
    height: 32px;
    border: none;
    font-size: 1.3rem;
    /* background-color: #1F2833; */
    background-color: #1F2833;
    border-radius: 4px;
    color: #fff;
    float: right;
}

.container-wide table td {
    height: 32px;
}

.container-wide table .numbering {
    font-size: 0.9em;
    text-align: left;
    padding-left: 10px;
    opacity: 0.35;
}

.container-wide button {
    cursor: pointer;
}

/* POPUP (for DNS step by step explanation) */
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    color: black;
    width: 650px;
    /* height: 320px; */
    z-index: 2;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    line-height: 1.6em;
}

.popup .content h1{
    margin: 18px 0 34px;
}

.popup .content p{
    margin: 0 0 12px;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    /* border-radius: 50%; */
    border-radius: 4px;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    display: block;
    /* transition: all 300ms ease-in-out; */
    transform: translate(-50%, -50%) scale(1);
}